body {
    background-image: url("./images/bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Varela Round", sans-serif;
}

h1 {
    font-family: "Pacifico", cursive;
    text-align: center;
    font-size: 72px;
}

#count {
    width: 400px;
    margin: 0 auto;
    text-align: left;
}

#input-number {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    user-select: none;
}

#input-number input {
    display: inline-block;
    background: pink;
    height: 100px;
    width: 100px;
    font-size: 50px;
    text-align: center;
}

.game-btn {
    display: block;
    width: 300px;
    height: 50px;
    margin: 0 auto;
}

.game-btn:first-child {
    margin-top: 5px;
    margin-bottom: 10px;
}